%script light_up_calendar()
.span-18.last
  %h1.monthname
    = @current
  
.span-18.last
  .span-12.last
    %select{:id => "montharoo"}
      %option
        Jump to..
      - @months.each do |month|
        %option{:value => month}
          = month
  
%table(cellspacing="5" cellpadding="5" id="calendar")
  %thead
    %tr    
      - @days.each do |day|
        %th.span-4
          =day
  %tbody
    - 5.times do |week|
      %tr
        - 7.times do |day|
          %td{:class => "#{week},#{day}"}
            %label(class="dow")
