#nav{:class => @active}

.nav
  %ul
    %li.syslog
      %a{:href => "/logs/show/syslog"} syslog
    %li.ftp_log
      %a{:href => "/logs/show/ftp_log"} ftp.log
    %li.mail_log
      %a{:href => "/logs/show/mail_log"} mail.log